FORMAT: 1A
HOST: https://api.acg.autodesk.com/api/v2


# Cloud Services V2 API
This is version 2 of ACG cloud services api's. If you are looking for older version 1 - please refer to https://confluence.123dapp.com/display/ADSK/Marketplace+APIs

# URL For Login
For login specifically use following end points. These end points are served from your nearest edge cache location and minimize load times for login dialogs:
Production: https://accounts.acg.autodesk.com/api/v2/login  
Beta: https://beta-accounts.acg.autodesk.com/api/v2/login

# URL For API
URL Structure is `https://{domain}/api/{version}/{resource}/{resourceId}`    
All endpoints begin with /api/{version}/

_Production URL_: https://api.acg.autodesk.com/api/v2 <br>
_Beta URL_: https://beta-api.acg.autodesk.com/api/v2 <br>
Example: https://beta-api.acg.autodesk.com/api/v2/assets/123456

# Verbs
We use restful verbs.

|Verb         | Description                                                                                               
| ------      | -------------------------------------------------------------------------------------------------------
| `GET`       |  Used to select one or more items. Success returns 200 status code with json result item(s) in body.   
| `POST`      |  Used to create a new item. Success returns 201 status code with newly created json item in body.      
| `PUT`       |  Used to update an item. Success returns 200 status code with updated json item in body.               
| `DELETE`    |  Used to delete an item. Success returns 204 status code with no body.

# Status Codes
We'll respond with one of the following status codes.

|Code       | Description 
| ------    |---------
|`200`       | Success  
|`201`        | Success - new resource created.
|`204`        | Success - no content to return.
|`302`        | Redirect  to another resource
|`400`        | Bad Request - i.e. your request couldn't be parsed.
|`401`        | Unauthorized - user is not logged in, cannot access resource.
|`404`        | Not Found - resource doesn't exist.
|`422`        | Unprocessable Entity - i.e. validation errors.
|`429`        | Rate limit exceeded, try again later.
|`500`        | Server error. There is nothing the app or user can do to recover from this. Correct response is to contact ACS for 500 errors. 

# Errors
Any 4xx and 5xx response is an error. 
In addition to the http code we will return additional information in the response payload as follows:  

    {
        "code":"numeric code specific to this api as defined in docs",  
        "status":"same as http status code e.g 404",  
        "message":"human readable error message",
        "error_id":"unique code which links back to stack trace in logs",
        "data":"any additional data the api may want to send back as json"
    }


# Headers
All api calls require the following headers:  

**X-Session**: A guest or member session. See Auth section on how to generate a guest/member session. Access to various api's depends on the type of session. 
For example - guest session will provide access to ready only public api's such as /assets. While member session will provide access to write apis and also Extend members subscription by specified period.information for /member api.  

**X-AFC**: Unique identifier assigned to your enendiceslication. It is very important to use the AFC assigned to your application and not re-use AFC's across apps as this creates issues in debugging and analytics.  
**X-Secure-Session**: Secure session is required for certain api calls which require updates to member profile or ecommerce transactions. **Secure session have a shorter life span (6 hrs). So in case an api returns 401 (unauthorized) response code - the applicaiton should prompt user to log in again**.  
# Standards
During api creation we follow these standards: -
 1. All json key names are lower case.
 2. Multi word names are seperated by _ e.g member_id, asset_id etc.  
 3. For api's that return paged result we always return count, limit (page size) and offset (current cursor location) values.  
 4. For api's that return paged result we always return _link_prev and _link_next values.  
 5. All times are in GMT with format "April 09, 2011 07:27:54"
 6. All api end points strive to be nouns vs verbs. The http method (POST/GET/PUT/DELETE) determines the action to be performed e.g GET /api/v1/asset vs /api/v1/get_asset.


# Appendices

## ECommerceAffiliate
ECommerceAffiliate is group of affiliates which share same behaviour like checkout pages. A case in a point is 123d and ciruits are under same ECommerceAffiliates.

## Product IDs for Cart
### Product IDs for 123D
|product_id|product_type|description|comments
|----|----|----|----
|3|SUBSCRIPTION|1-month Premium Membership|123D
|4|SUBSCRIPTION|1-year Premium Membership|123D
|5|SUBSCRIPTION|2-year Premium Membership|123D
|~~1~~|~~PHYSICAL~~ |~~Makerbot item~~|~~123D~~
|~~2~~|~~PHYSICAL~~|~~Makerbot spool~~|~~123D~~
|3|SHIPPING|Shipping method|123D
|~~4~~|~~BUNDLE~~|~~1 Year premium membership bundle~~|~~123D
|~~5~~|~~BUNDLE~~|~~2 Year premium membership bundle~~|~~123D
|38|PHYSICAL|MakerBot Mini Starter Pack|123D
|39|PHYSICAL|MakerBot Replicator 5th Generation Starter Pack|123D
|43|PHYSICAL|MakerBot 1-Year MakerCare for Mini|123D
|44|PHYSICAL|MakerBot 1-Year MakerCare for Replicator 5th Generation|123D
|86|DIGITAL|COPPA Verification|123D


### Product IDs for Pixlr/Sketchbook
|product_id|product_type|description|comments
|----|----|----|----
|11|SUBSCRIPTION|Pixlr Monthly Subscription|PIXLR
|12|SUBSCRIPTION|Pixlr Yearly Subscription|PIXLR
|13|SUBSCRIPTION|Pixlr Default Subscription (NOT FOR PURCHASE)|PIXLR
|14|SUBSCRIPTION|Sketchbook Monthly Subscription|SKETCH
|15|SUBSCRIPTION|Sketchbook Yearly Subscription|SKETCH
|16|SUBSCRIPTION|Sketchbook Default Subscription (NOT FOR PURCHASE)|SKETCH
|17|SUBSCRIPTION|Sketchbook Wacom Quarterly Subscription |SKETCH

### Product IDs for Circuits
|product_id|product_type|description|comments
|----|----|----|----
|7|PHYSICAL|Intro Kit|Intro Kit
|8|PHYSICAL|Basic Kit WITH workbook|Basic Kit WITH workbook
|9|PHYSICAL|Maker Kit|Maker Kit
|10|PHYSICAL|Developer Kit|Developer Kit
|11|PHYSICAL|10x Circuit Scribes Only|10x Circuit Scribes Only, no components
|12|PHYSICAL|9V Battery Adapter|9V Battery Adapter (includes 9V battery), $5 without
|13|PHYSICAL|USB Power Adapter|USB Power Adapter (includes USB cable), $6 without
|14|PHYSICAL|Potentiometer 10kohm|Potentiometer 10kohm
|15|PHYSICAL|DPDT Switch|DPDT Switch
|16|PHYSICAL|SPST Switch|SPST Switch
|17|PHYSICAL|Light Sensor|Light Sensor
|18|PHYSICAL|Bi-LED|Bi-LED
|19|PHYSICAL|RGB LED|RGB LED
|20|PHYSICAL|Buzzer|Buzzer
|21|PHYSICAL|Motor|Motor
|22|PHYSICAL|2-pin Adapter|2-pin Adapter (includes reed switches, capacitors and resistors)
|23|PHYSICAL|NPN|NPN
|24|PHYSICAL|8-pin Adapter|8-pin Adapter (includes 555 timer, op-amp and nand gate)
|25|PHYSICAL|DIY Board|DIY Board, break-out to 5x individual boards
|26|PHYSICAL|Connector kit|Connector kit, includes 10x wires with magnetic feet for arduino, rasberry pi and other through-hole connections
|27|PHYSICAL|Magnetic Sheet 8.5x11"|Magnetic Sheet 8.5x11"
|28|PHYSICAL|Workbook with lessons and blank pages|Workbook with lessons and blank pages
|40|PHYSICAL|Circuit Scribe Ultimate Kit| 
|41|PHYSICAL|Circuit Scribe Maker Classroom Kit| 
|42|PHYSICAL|Circuit Scribe Ultimate Classroom Kit| 
|48|PHYSICAL|One Conductive Ink Pen | One Conductive Ink Pen
|55|PHYSICAL|PCB | PCB
|56|PHYSICAL|PCB | PCB
|57|PHYSICAL|PCB | PCB
|58|PHYSICAL|PCB | PCB
|59|PHYSICAL|PCB | PCB
|60|PHYSICAL|PCB | PCB
|61|PHYSICAL|PCB | PCB
|62|PHYSICAL|PCB | PCB
|63|PHYSICAL|PCB | PCB
|64|PHYSICAL|PCB | PCB
|70|PHYSICAL|PCB | PCB
|71|PHYSICAL|PCB | PCB
|72|PHYSICAL|PCB | PCB
|73|PHYSICAL|PCB | PCB
|74|PHYSICAL|PCB | PCB
|75|PHYSICAL|PCB | PCB
|76|PHYSICAL|PCB | PCB
|77|PHYSICAL|PCB | PCB
|78|PHYSICAL|PCB | PCB
|79|PHYSICAL|PCB | PCB

### Product IDs for SPARK
|product_id|product_type|description|comments
|----|----|----|----
|49|PHYSICAL|Ember Printer|SPARK
|66|PHYSICAL|Ember Resin bottle|SPARK
|67|PHYSICAL|Ember Resin Trays (QTY 2)|SPARK
|68|PHYSICAL|Ember Build Heads (QTY 2)|SPARK

#Group Assets
An asset is the top level storage construct for cloud services. An asset can be thought of as a project or a folder with metadata. The asset contains 1..n files, metadata elements and references to other assets or even external links. 
Within the 3d modeling/printing eco-system it is often hard to model a complete creation and workflow with a single file (for example: a model may consist of obj, mtl, texture files) - Asset provides an aggregation point for several related files and metadata elements to fully represent a creation, its various transformations, translations and references. 
The operations listed below provide a full set of activities which can be performed against an asset. 

**Hash based API calls**

All the Assets API below can also be invoked by passing the hash value as a param for authentication.

_Dispatching the request:_
* Use the guest session when calling the the API.
* Pass timestamp parameter as "ts". Format: 'YYYY-MM-DD HH:mm:ss'. The timestamp should be within past 15 mins timeframe.
* Pass hash parameter as "hash". This is generated using SHA-256 hash function combining Affiliate Code + Asset Id + Timestamp + Affiliate shared secret

**_Note_**: For Asset creation POST API, please use Member Id (Asset owner) instead of Asset Id for generating the hash value.

**Asset Status**

Assets can have different status. The below table displays all the possible status values.

|_Status_|_Value_
|----|----
|Public|0|
|Private|2|
|Deleted|1|

## Asset [/assets/{id}{?asset_name,description,tags,media_type_id,software,publish,progress_status,parent_asset_id,referenced_assets,extended_data,version,asset_ids,license_id,asset_taxonomy,language,region}]
Operations to perform CRUD operations on an asset with basic metadata. Additional operation sets will populate this asset with constituent files, additional metadata etc. 
+ parameters
     + id (required,Number,`234566`)...Numeric `id` of the asset to perform action with. 
    
+ Model (application/json)

    + Body
    
            {
                "_link": "/asset/630595",
                "artist": {
                    "location": "",
                    "avatar": "https://static.spark.autodesk.com/90941782-f793-4373-9cd9-467eceedee67.jpg4ac36cf8-9715-11e4-b61b-22000b181262.jpg",
                    "description": "Software Engineer",
                    "artist_id": 20704116,
                    "artist_name": "tim s"
                },
                "asset_id": 630595,
                "asset_name": "timproduct",
                "asset_status_code": 0,
                "date_submitted": "April 09, 2011 07:27:54",
                "delivery_media": "download only",
                "description": "this is a test",
                "used_in_project_count": 0,
                "child_asset_count": 2,
                "download_count": 0,
                "favorited_by": [],
                "favorite_count": 0,
                "view_count": 15,
                "file_formats": [
                    {
                        "file_id": 5401172,
                        "id": 999,
                        "name": "other ( see notes )",
                        "size": 326560,
                        "md5sum": "2553c3b793e66c10ff1a044fd017169d",
                        "version": "",
                        "file_name": "mesh.obj"
                    }
                ],
                "is_authorized_download": true,
                "is_deleted": false,
                "is_download_asset": true,
                "progress_status": 1,
                "is_member_favorite": false,
                "is_gallery_asset": true,
                "is_online_viewer_available": false,
                "is_premium": false,
                "is_repurchasable": false,
                "is_reviewable": false,
                "is_store_asset": false,
                "keywords": "test",
                "language": " ",
                "model_type": 1,
                "media_type": "3d models",
                "status_post_count": 27,
                "parent_asset_id": "",
                "date_modified": "April 09, 2011 07:27:54",
                "purchase_date": "",
                "mesh": true,
                "region": " ",
                "software": 9,
                "is_for_sale" : true,
                "shop_id" : 34,
                "total_price" : 0,
                "thumbnails": [
                    {
                        "file_id": 123456,
                        "caption": "thumbnail caption",
                        "thumb_path_prefix": "http://sherpapreview-standard.s3-website-us-east-1.amazonaws.com/preview/dev/2012/06/06__16_12_42/tiger-large.jpga6379c35-4d07-45a7-b33f-93fd2c15ff45",
                        "description": "thumbnail description",
                        "is_primary": true
                    },
                    {
                        "file_id": 123457,
                        "thumb_path_prefix": "http://sherpapreview-standard.s3-website-us-east-1.amazonaws.com/preview/dev/2012/06/06__16_12_42/tiger-large.jpga6379c35-4d07-45a7-b33f-93fd2c15ff45",
                        "caption": "thumbnail caption 2",
                        "description": "thumbnail description 2",
                        "is_primary": false
                    }
                ],
                "referenced_assets": [
                    {
                        "_link": "/asset/588362",
                        "thumbnails": [
                            {
                                "thumb_path_prefix": "http://sherpapreview-standard.s3-website-us-east-1.amazonaws.com/preview/dev/2012/06/06__16_12_42/tiger-large.jpga6379c35-4d07-45a7-b33f-93fd2c15ff45",
                                "is_primary": false
                            },
                            {
                                "thumb_path_prefix": "http://sherpapreview-standard.s3-website-us-east-1.amazonaws.com/preview/dev/2012/06/06__16_12_42/tiger-large.jpga6379c35-4d07-45a7-b33f-93fd2c15ff45",
                                "is_primary": true
                            }
                        ],
                        "reference_added_date": "April 09, 2011 07:27:54",
                        "description": "publishing test.",
                        "media_type": 2,
                        "asset_name": "cylinders",
                        "asset_id": 588362,
                        "is_premium_asset": false
                    }
                ],
                "extended_data": {
                    "mainFileThumbnails": [],
                    "translations": [
                        {
                            "inputFileItemId": 5358536,
                            "outputFileItemId": 5358536,
                            "outputFileUrl": "",
                            "outputFileType": "",
                            "outputFileName": ""
                        },
                        {
                            "inputFileItemId": 5358536,
                            "outputFileItemId": 5358536,
                            "outputFileUrl": "",
                            "outputFileType": "",
                            "outputFileName": ""
                        }
                    ],
                    "key2": "<Any custom data. Escaped json in case of JSON custom data>",
                    "links": [
                        {
                            "type": "LINK",
                            "references": [
                                {
                                    "id": "54239097944f1",
                                    "title": "link",
                                    "description": "title",
                                    "url": "https://www.youtube.com/watch?v=wQ3nCa2_f88"
                                }
                            ]
                        },
                        {
                            "type": "VIDEO",
                            "references": [
                                {
                                    "id": 5423906829345,
                                    "title": "title",
                                    "description": "title",
                                    "embedWidget": "<iframe width=\"854\" height=\"510\" src=\"//www.youtube.com/embed/wQ3nCa2_f88\" frameborder=\"0\"></iframe>"
                                }
                            ]
                        }
                    ]
                }
            }

### Create a new asset[POST /assets{?asset_name,description,tags,media_type_id,software,publish,progress_status,parent_asset_id,license_id,asset_taxonomy,language,region,member_id}]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
            
+ Parameters
    + asset_name (required, String, `Alien`) ...Asset title
    + description (required, String, `Mint colored alien`) ...title description
    + tags (required, String, `alien,sci-fi,fantasy`) ... comma seperated list of tags
    + media_type_id (Required, Number, `12`)...Determines the concrete type of an asset. Full media type list is provided in the introduction.
    + software (Required, Number, `12`)...Determines the Application of an asset. Please contact to DEV team to obtain your Software id.
    + publish (optional, Boolean, `false`) ...Publish to gallery. This param also controls the asset status. If true, asset status is public '0'. If false, the asset status is private '1'.
    + progress_status (optional, Number, `1`) ...progress status <br> Options:<br> 0:in progress<br>1:complete
    + parent_asset_id (optional, String, `12345`) ...Parent Asset Id
    + license_id (optional, String, `AFL-1.1`) ...Add license to the asset. For the list of available standard licenses, please refer - https://spdx.org/licenses. Please pass the value from the 'Identifier' column in the table.
    + asset_taxonomy (optional, String, `[{"namespace":"Circuits","categories":[{"name":"x/y/z","is_primary":false}},{"namespace":"Tinkercad","categories":[{"name":"a/b/c","is_primary":false},{"name":"p/q/r","is_primary":true}]}]`) ...App definied taxonomy for the asset. Please pass the JSON string as showing in the example. The taxonomy can have unlimited namespaces and a namespace can have unlimited catagories.
    + language (optional, String, `en`)...Language code
    + region (optional, String, `US`)...Country code
    + member_id (optional, Number, `4353345`)...Asset owner member Id. This should be passed only for the hash based API request.

+ Response 201 (application/json)

        {
            "_link":"/asset/269620",
            "asset_id":269620
        }

### Retrieve an asset [GET]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + referenced_assets (optional, boolean, `true`) ...When true referenced assets will be returned as an array sorted in descending order of the time when they were added.<br>Default: false
    + extended_data (optional, boolean, `true`) ...When true extended asset data such as asset links, custom data etc. will be returned <br>Default: false
    + version (optional, double, `1.15`) ...When passed returns this version of the asset.

+ Response 200

    [Asset][]

### Update an asset[PUT]
+ Request (application/x-www-form-urlencoded)
    + Headers

            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + asset_name (required, String, `Alien`) ...Asset title
    + description (required, String, `Mint colored alien`) ...title description
    + tags (required, String, `alien,sci-fi,fantasy`) ... comma seperated list of tags
    + publish (optional, Boolean, `false`) ...Publish to gallery. This param also controls the asset status. If true, asset status is public '0'. If false, the asset status is private '1'.
    + progress_status (optional, Number, `1`) ...progress status <br> Options:<br> 0:in progress<br>1:complete
    + parent_asset_id (optional, String, `12345`) ...Parent Asset Id
    + version (optional, double, `1.15`) ...creates a new version of the asset from this version.
    + license_id (optional, String, `AFL-1.1`) ...Add license to the asset. For the list of available standard licenses, please refer - https://spdx.org/licenses. Please pass the value from the 'Identifier' column in the table.
    + asset_taxonomy (optional, String, `[{"namespace":"Circuits","categories":[{"name":"x/y/z","is_primary":false}]},{"namespace":"Tinkercad","categories":[{"name":"a/b/c","is_primary":true},{"name":"p/q/r","is_primary":false}]}]`) ...App definied taxonomy for the asset. Please pass the JSON string as showing in the example. The taxonomy can have unlimited namespaces and a namespace can have unlimited catagories.
    + language (optional, String, `en`)...Language code
    + region (optional, String, `US`)...Country code    
    
+ Response 200 (application/json)

            {
                "_link":"/asset/269620"
            }
           
### Delete an asset [DELETE]
+ Request (application/x-www-form-urlencoded)
    + Headers

            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Response 204

### Delete multiple assets [DELETE /assets/{asset_ids}]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + asset_ids (required,String,`234566,3545346,5654`)...Numeric id comma seperated list` of the assets to perform action with. 
+ Response 204

## Asset Versions [/assets/{id}/versions]
Operations to create and retrieve asset versions.

### Create a new major Asset version[POST]

+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Response 201 (application/json)

        {
            "member_id": 20706907,
            "asset_version_datetime": "May 29, 2015 00:21:37",
            "asset_version": "2.00"
        }

### Retrieve all asset versions [GET]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Response 200 (application/json)

        {
            "count": 3,
            "limit": 20,
            "offset": 0,
            "_link": "/assets/1636040/versions?limit=20&offset=0",
            "asset_versions": [
                {
                    "member_id": 20706907,
                    "asset_version_datetime": "May 28, 2015 23:16:36",
                    "asset_version": "1.00"
                },
                {
                    "member_id": 20706907,
                    "asset_version_datetime": "May 28, 2015 23:17:18",
                    "asset_version": "1.01"
                },
                {
                    "member_id": 20706907,
                    "asset_version_datetime": "May 28, 2015 23:20:36",
                    "asset_version": "1.02"
                }
            ]
        }

## Asset Search  [/assets{?q,limit,offset,start_date,end_date,thumbnail_index,ailable,file_type_list,exclude_keywords,asset_ids,sort_by,vorite_count_strict,rt,sort_order,display_filter,ewer,exclude_artist_ids,include_artist_ids,description,progress_status,parent_assets,media_type_ids,software,child_assets,include_mature,for_sale,shop_ids,min_price,max_price,is_app_featured,wildcard_search,license_ids,license_name,asset_taxonomy}]
This api is a starting point to display galleries, perform free-form searches. Different filtering options allow searching by specific contained file type, keywords, publish dates, curation state (featured, popular) etc. 
+ Parameters
    + q (optional, String, `cars+cat`) ...list of keywords to search against
    + limit (optional, number, `20`)...number of results per page
    + offset (optional, Number, `60`) ...This offsets the start of each page by the number specified. 
    + start_date (optional, Date, `10-12-2013`) ...Limit results to those published after a given date (mm-dd-yyyy format) 
    + end_date (optional, Date, `10-13-2013`)...Limit results to those published before a given date (M-d-yyyy format)  
    + thumbnail_index (optional, Number, `1`)...Index of primary thumbnail image for results shown in THUMBNAIL_FILE (default is 1).<br>If thumbnail_index=2 is not available then it defaults to thumbnail_index=1.
    + file_type_list (optional, String, `obj`)...Limit results based on a comma-separated list of file types. Options: obj, stl, mtl
    + exclude_keywords (optional, String, `dog`)...Limit results based to those not associated with a list of keywords 
    + asset_ids (optional, String, `123456,987654,456789` )...Limit results based on asset ID(s) 
    + sort_by (optional, String,`asset_name`)...Order search results based on a specific attribute. <br> Options:<br> asset_name<br> artist<br> date<br> date_modified<br> favorite_count<br> favorite_count_strict<br> format<br> price<br> download_count<br> featured_date<br> **_Note:_** favorite_count_strict will sort the results strictly by number of likes, where as favorite_count will sort the results by popularity.
    + sort_order  (optional,String,`asc`)...Direction of ordered search results based on value of sort_by. <br> Options: asc, desc 
    + display_filter  (optional,String, `d`)...Show only Gallery or Featured items.<br>Options:<br>d: Gallery item with downloads <br>f: Featured items; <br>o: Online viewer enabled assets <br>Example: d, f, o, dfo, fo 
    + exclude_artist_ids (optional,Number, `2345678`)...Limit results based on member or artist ids.
    + include_artist_ids (optional, Number, `20288475`)...Limit results based on artist ids.
    + description (optional, Boolean, `false`)...Return description of asset till 150 characters in results
    + progress_status (optional, Number, `1`)...Get result with project status. pass 1 for completed or 0 for in-progress.<br> Options: 0 or 1
    + parent_assets (optional, Number, `588383`)...Pass parent asset Id and get its corresponding child assets.
    + media_type_ids (optional, String, `1,2,41,42`)...Limit results based on a comma-separated list of media type ids.
    + software (optional, String, `1,2,3,4`)...Limit results based on a comma-separated list of software ids.
    + child_assets (optional, Number, `588383`)...Pass child asset Id and get its corresponding child assets.
    + include_mature (optional, Boolean, `false`)...Result will include asset marked as mature.
    + for_sale (optional, Boolean , `false`)...Result will include asset which are for sale or for free.
    + shop_ids (optional, String, `123,567,987`)...Result will include asset from list of given shop Id's.
    + min_price (optional, Number, `123`)...Result will include asset with price equal or greater.
    + max_price (optional, Number, `7623`)...Result will include asset with price equal or Less.
    + is_app_featured (optional, Boolean, `true`)...Result will include assets marked as featured at the app level. Use software parameter alongwith this.
    + wildcard_search (optional, Boolean, `false`)...if true, CONTAINS search will be done. Example: The word 'car' will return results which includes car, oscar, boxcars etc.
    + license_ids (optional, String, `123,567,987`)...Result will include asset associated to the list of given license ids.
    + license_name (optional, String, `free`)...Result will include asset associated with license whose name contains license_name.
    + asset_taxonomy (optional, String, `a/b`)...Result will include asset associated with taxonomy specified. For instance, if the taxonomy passed is 'car', the result includes all the asset with taxonomy starting car/*

## List all Assets [GET]

+ Request (application/x-www-form-urlencoded)
    + Headers

            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
            

+ Response 200 (application/json)

        {
            "count": 260,
            "limit": 13,
            "offset": 39,
            "_link": "/assets?q=abc&limit=26",
            "_link_prev": "/assets?q=abc&limit=26&offset=26",
            "_link_next": "/assets?q=abc&limit=26&offset=39",
            "assets": [
                {
                    "is_featured": false,
                    "comment_count": 0,
                    "member_small_avatar": "http://dev.squidplatform.net/images/v22/member/default_avatar.png",
                    "asset_name": "tissue box",
                    "thumb_path_prefix": "http://sherpapreview-standard.s3-website-us-east-1.amazonaws.com/preview/dev/2012/06/06__16_12_42/tiger-large.jpga6379c35-4d07-45a7-b33f-93fd2c15ff45",
                    "is_online_viewer_available": true,
                    "is_member_favorite": false,
                    "favorite_count": 1,
                    "view_count": 15,
                    "progress_status": 1,
                    "referenced_assets_count": 0,
                    "referenced_by_count": 0,
                    "referenced_asset_thumb": "http://sherpapreview-standard.s3-website-us-east-1.amazonaws.com/preview/2012/12/13__09_57_54/hand.jpgf18ed964-0998-4f43-a165-c0f5c650ec08small.jpg",
                    "date_submitted": "april 26, 2011 00:11:57",
                    "date_modified": "april 26, 2011 00:11:57",
                    "extended_data": {
                        "stlfiles": [
                            {
                                "id": 5379733,
                                "name": "4981102.stl",
                                "ModelToCentimeters": -1
                            },
                            {
                                "id": 5379735,
                                "name": "4981101.stl",
                                "ModelToCentimeters": -1
                            }
                        ],
                        "viewerFiles": [
                            {
                                "id": 4981102
                            },
                            {
                                "id": 4981101
                            },
                            {
                                "id": 4981103
                            }
                        ]
                    },
                    "artist_name": "autodesk",
                    "asset_image": "2011/04/25__11_19_17/tt_0000.jpg251cdd82-cdfb-4397-913a-738096e71046small-1.jpg",
                    "format_name_long": "multiple ( .stl, .123c )",
                    "seo_template": "123c-3d-model tissue-box",
                    "current_page": 1,
                    "asset_ext_name": "scenes & props",
                    "model_type": "part",
                    "file_size": 1690664,
                    "download_count": 3008,
                    "format_name_short": "stl 123c",
                    "is_gallery_asset": true,
                    "artist_avatar": "http://dev.squidplatform.net/images/v22/member/default_avatar.png",
                    "artist_id": 2345678,
                    "media_type_id": 23,
                    "current_result": 1,
                    "mesh": true,
                    "associated_file_directory_path": "2011/04/25__11_19_17/tt_0000.jpg251cdd82-cdfb-4397-913a-738096e71046small-1.jpg",
                    "asset_id": 592540,
                    "total_price": 1.99,
                    "shop_id": 5,
                    "is_for_sale": true,
                    "software": 9,
                    "is_mature": true,
                    "app_featured_date" : "april 26, 2011 00:11:57",
                    "featured_date" : "april 26, 2011 00:11:57",
                    "is_app_featured" : true
                }
            ]
        }

## Asset Custom Data [/assets/{id}/customdata{?custom_data,version,keys}]
Operations to add custom data to this asset. These operations are useful to add any asset specific custom data to the asset e.g tenant specific asset data useful for display purpose.

**_Note:_** The key should be unique within the asset. Using the same key in POST will overwrite the existing data if any.

+ Parameters
    + id (required,Number,`234566`)...Numeric `id` of the asset to perform action with. 

### Create a new custom data entry within an asset [POST] 
+ Parameters
    + custom_data (required, String, `{"custom_data": [{"key": "<any key name 1>","data": "<Any custom data. Escaped json in case of JSON custom data>"},{"key": "<any key name 2>","data": "<Any custom data. Escaped json in case of JSON custom data>"}]}`)...Key-Value pair of custom data JSON. Please replace the content inside <> and send the json. If the key name doesn't exist for the shop, the key/value pair will be added. If the key name already exists for the shop, the data value will be replaced.

+ Request (application/x-www-form-urlencoded)
    + Headers

            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Response 201 (application/json)

            {
                "_link": "/assets/1495894/customdata"
            }

### Retrieve an asset custom data [GET]
+ Parameters
    + version (optional,double,`1.15`)...Asset Version. When passed, returns all the asset custom data until this version.


+ Request (application/x-www-form-urlencoded)
    + Headers

            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Response 200 (application/json)

        {
            "custom_data": [
                {
                    "key": "key1",
                    "data": "{\"camera\": {\"eye\": [0.779605,-1.04071,-0.0150464],\"fov\": 0.959931,\"up\": [-0.00353075,0.00402574,0.999986],\"view\": [-0.659365,0.751804,-0.00535469]},\"version\": 1,\"world\": {\"front\": [0,-1,0],\"up\": [0,0,1]}}"
                },
                {
                    "key": "key2",
                    "data": "this is custom data"
                }
            ]
        }

### Delete an asset custom data[DELETE]
+ Request (application/x-www-form-urlencoded)
    + Headers

            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Parameters
    + keys (required, String, `key1,key2`)...Comma seperated list of custom data keys to be deleted from this asset.
    
+ Response 204

## Asset Previews [/assets/{id}/previews{?file_ids,version,old_file_ids}]
Operations to add preview files to this asset. These operations are used to add any asset preview files to the asset e.g asset promotional downloads.

+ Parameters
    + id (required,Number,`234566`)...Numeric `id` of the asset to perform action with. 

### Create a new preview within the asset [POST] 
+ Parameters
    + file_ids (required, String, `16804696,16804697`)...Comma seperated list of file ids received after uploading the files.

+ Request (application/x-www-form-urlencoded)
    + Headers

            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Response 201 (application/json)

        {
            "_link": "/assets/1495894/previews"
        }

### Retrieve an asset previews [GET]

+ Parameters
    + version (optional,double,`1.15`)...Asset version. When passed, returns all the asset previews until this version.

+ Request (application/x-www-form-urlencoded)
    + Headers

            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Response 200 (application/json)

        {
            "previews": [
                {
                    "file_id": 16804696,
                    "file_type": "",
                    "md5sum": "2553c3b793e66c10ff1a044fd017169d",
                    "size": 326560,
                    "_link": "api/v2/assets/1495897/download?file=16804696",
                    "file_name": "dsg5675.jpg"
                },
                {
                    "file_id": 16804697,
                    "file_type": "",
                    "md5sum": "2553c3b793e66c10ff1a044fd017169d",
                    "size": 4352434,
                    "_link": "api/v2/assets/1495897/download?file=16804697",
                    "file_name": "dsg5676.jpg"
                }
            ]
        }

### Update preview within the asset [PUT] 
+ Parameters
    + file_ids (required, String, `16804696,16804697`)...Comma seperated list of new file ids received after uploading the files.
    + old_file_ids (required, String, `16804698,16804699`)...Comma seperated list of old file ids within the asset.

+ Request (application/x-www-form-urlencoded)
    + Headers

            X-AFC: FJKB32
            X-Session: F56FF F-8035-4F7E-90A3-066C5897AD57

+ Response 201 (application/json)

        {
            "_link": "/assets/1495894/previews"
        }

### Delete an asset previews [DELETE]
+ Request (application/x-www-form-urlencoded)
    + Headers

            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Parameters
    + file_ids (required,String, `234567,334562`)...Comma seperated list of assets preview file ids to be deleted from this asset.
    
+ Response 204

## Asset References [/assets/{id}/references{?asset_ids,limit,offset}]
Operations to link other assets to this asset. These operations are useful to aggregate related assets together e.g Model of a car may consist of several assets : wheels, body, engine etc.

+ Parameters
    + id (required,Number,`234566`)...Numeric `id` of the asset to perform action with. 

### Create a new reference within the asset[POST /assets/{id}/references{?asset_ids,insert_before,insert_after}] 
+ Parameters
    + asset_ids (required, String, `234567,334562`)...Comma seperated list of assets to be linked to this asset.
    + insert_before (optional, Number, `234567`)...Previously added Asset Id as reference to this asset. All the new asset references in this request will be added before this reference in the references order sequence.
    + insert_after (optional, Number, `234567`)...Previously added Asset Id as reference to this asset. All the new asset references in this request will be added after this reference in the references order sequence.
    
+ Response 201 (application/json)

        {
            "_link":"/assets/234566/references"
        }

### Update reference ordering within the asset[PUT /assets/{id}/references{?asset_ids,insert_before,insert_after}] 
+ Parameters
    + asset_ids (required, String, `234567,334562`)...Comma seperated list of assets already linked to this asset.
    + insert_before (optional, Number, `234567`)...Previously added Asset Id as reference to this asset. All the asset references in this request will be added before this reference in the references order sequence.
    + insert_after (optional, Number, `234567`)...Previously added Asset Id as reference to this asset. All the asset references in this request will be added after this reference in the references order sequence.

+ Response 201 (application/json)

        {
            "_link":"/assets/234566/references"
        }


### Retrieve asset references[GET]
+ Parameters
    + limit (optional, number, `20`)...number of results per page. Default: 10
    + offset (optional, Number, `60`) ...This offsets the start of each page by the number specified.  
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Response 200 (application/json)

            {
                "count": 23,
                "offset": 20,
                "limit": 10,
                "_link": "/asset/1260467/references?limit=10&offset=1",
                "_link_prev": "/asset/1260467/references?limit=10&offset=10",
                "_link_next": "/asset/1260467/references?limit=10&offset=30",
                "reference_assets": [
                    {
                        "_link": "/asset/588362",
                        "thumbnails": [
                            {
                                "id": 2232333,
                                "thumb_path_prefix": "http://sherpapreview-standard.s3-website-us-east-1.amazonaws.com/preview/dev/2012/06/06__16_12_42/tiger-large.jpga6379c35-4d07-45a7-b33f-93fd2c15ff45",
                                "is_primary": false,
                                "caption": "thumbnail caption",
                                "description": "thumbnail description"
                            },
                            {
                                "id": 13224244,
                                "thumb_path_prefix": "http://sherpapreview-standard.s3-website-us-east-1.amazonaws.com/preview/dev/2012/06/06__16_12_42/tiger-large.jpga6379c35-4d07-45a7-b33f-93fd2c15ff45",
                                "is_primary": true,
                                "caption": "thumbnail caption",
                                "description": "thumbnail description"
                            }
                        ],
                        "reference_added_date": "April 09, 2011 07:27:54",
                        "description": "publishing test.",
                        "media_type": 2,
                        "asset_name": "cylinders",
                        "asset_id": 588362,
                        "is_premium_asset": false
                    }
                ]
            }

### Delete an asset reference[DELETE]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + asset_ids (required,String, `234567,334562`)...Comma seperated list of assets references to be deleted from this asset.
+ Response 204

## Asset Referenced [/assets/{id}/referenced{?limit,offset}]
This operation will return a list of assets where this asset is referenced.

### Retrieve assets referencing this asset [GET]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + id (required,Number,`234566`)...Numeric `id` of the asset to perform action with. 
    + limit (optional, Number,`20`)...Number of results to return in each page
    + offset (optional, Number, `3`)...This offsets the start of each page by the number specified.

+ Response 200 (application/json)

            {
                "count": 23,
                "offset": 20,
                "limit": 10,
                "_link": "/asset/1260467/references?limit=10&offset=1",
                "_link_prev": "/asset/1260467/references?limit=10&offset=10",
                "_link_next": "/asset/1260467/references?limit=10&offset=30",
                "referenced_assets": [
                    {
                        "_link": "/asset/588362",
                        "thumbnails": [
                            {
                                "id": 2232333,
                                "thumb_path_prefix": "http://sherpapreview-standard.s3-website-us-east-1.amazonaws.com/preview/dev/2012/06/06__16_12_42/tiger-large.jpga6379c35-4d07-45a7-b33f-93fd2c15ff45",
                                "is_primary": false,
                                "caption": "thumbnail caption",
                                "description": "thumbnail description"
                            },
                            {
                                "id": 13224244,
                                "thumb_path_prefix": "http://sherpapreview-standard.s3-website-us-east-1.amazonaws.com/preview/dev/2012/06/06__16_12_42/tiger-large.jpga6379c35-4d07-45a7-b33f-93fd2c15ff45",
                                "is_primary": true,
                                "caption": "thumbnail caption",
                                "description": "thumbnail description"
                            }
                        ],
                        "reference_added_date": "April 09, 2011 07:27:54",
                        "description": "publishing test.",
                        "media_type": 2,
                        "asset_name": "cylinders",
                        "asset_id": 588362,
                        "is_premium_asset": false
                    }
                ]
            }
 
## Asset Sources [/assets/{id}/sources{?file_ids,old_file_ids,version}]
Add files which constitute the "source" for this asset, this can include virtually any file type - 
all major 3d formats will be automatically translated into a print ready STL format, which will be available in through the asset translations api. 
Adding the sources will usually be a starting point for storing an asset in cloud services storage - subsequent tranformation operations can then be performed on these source files. 

+ Parameters
    + id (required,Number,`234566`)...Numeric `id` of the asset to perform action with. 

### Create a new source within the asset[POST] 
+ Request (application/x-www-form-urlencoded)
    + Headers

            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + file_ids (required,String, `123456,234345`) ...Comma seperated list of files to be added as sources to this asset. The operation will automatically populate the file type based on previously uploaded file's mime type. 

+ Response 201 (application/json)

            {
                "_link":"/assets/234566/sources"
            }
            
### Update source within the asset[PUT] 

**_Note:_** The update will replace the source files already added to the asset. The old & new file ids list should be unique.

+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + file_ids (required,String, `123456,234345`) ...Comma seperated list of new files to be added as sources to this asset.
    + old_file_ids (required,String, `34567,65432`) ...Comma seperated list of old files previously added as sources to this asset.

+ Response 201 (application/json)

            {
                "_link":"/assets/234566/sources"
            }            

### Retrieve asset sources[GET]
+ Parameters
    + version (optional,double,`1.15`)...Asset Version. When passed, returns all the asset sources until this version.

+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Response 200 (application/json)
    
            {
                "sources": [
                    {
                        "file_id": "123456",
                        "file_type": "STL",
                        "md5sum": "2553c3b793e66c10ff1a044fd017169d",
                        "size": 326560,
                        "_link": "api/v2/assets/id/download?file=123456",
                        "file_name": "viewable.stl"
                    },
                    {
                        "file_id": "123456",
                        "file_type": "STL",
                        "md5sum": "2553c3b793e66c10ff1a044fd017169d",
                        "size": 3252435,
                        "_link": "api/v2/assets/id/download?file=123456",
                        "file_name": "asset.stl"
                    }
                ]
            }

### Delete an asset source[DELETE]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + file_ids (required,String, `234567,334562`)...Comma seperated list of files  to be deleted from this assets source.
+ Response 204

## Asset Thumbnails [/assets/{id}/thumbnails{?thumbnails,async,thumbnail_ids}]
Add files as representational thumbnails for this asset. The thumbnails can include photographs of printed asset or rendered images of the 3d model. The thumbnail files should be atleast 1200x1200 px resolution. These thumbnails will be utilized by applications while displaying galleries or asset details.
We will auto generate various sizes from this thumbnail:  
* Small(64)  
* Petite(90)  
* Medium(128)  
* Large(600)
* HD(1200)
* Original

Images will be generated in both PNG and JPG formats. 
 
The thumbnail url prefix is available in asset response, the size post-fix and extension can be appended to the prefix to recover the correct size.

**_Note:_** The PUT replaces the thumbnail which is already added to the asset.

**How to display thumbnails?**<br>
The thumbnails can be displayed using the thumbnail path prefix fetched in the GET API and appending the size.<br>
Example: <br>
https://static.spark.autodesk.com/2015/nyc.jpg42111c3Small.jpg<br>
https://static.spark.autodesk.com/2015/nyc.jpg42111c3Original.jpg<br>

+ Parameters
    + id (required,Number,`234566`)...Numeric `id` of the asset to perform action with.

### Create a new thumbnail within the asset[POST] 
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + thumbnails (required, JSON, `[{"id": "123456","caption": "thumbnail caption","description": "thumbnail description","is_primary": true},{"id": "123457","caption": "thumbnail caption 2","description": "thumbnail description 2","is_primary": false},{"id": "123458","caption": "thumbnail caption 2","description": "thumbnail description 2","is_primary": false}]`) ...JSON list of files to be added as thumbnails to this asset. The file must be of mime type PNG or JPG/JPEG.  
    + async (optional, Boolean, `true`)...Whether thumbnails should be generated asynchronously
+ Response 201 (application/json)

            {
                "_link":"/assets/234566/thumbnails"
            }
            
### Update thumbnail within the asset[PUT] 
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + thumbnails (required, JSON, `[{"id": "123456","old_id": "34567","caption": "thumbnail caption","description": "thumbnail description","is_primary": true},{"id": "123457","old_id": "34568","caption": "thumbnail caption 2","description": "thumbnail description 2","is_primary": false},{"id": "123458","old_id": "34569","caption": "thumbnail caption 2","description": "thumbnail description 2","is_primary": false}]`) ...JSON list of files to be updated as thumbnails to this asset. The file must be of mime type PNG or JPG/JPEG.  
+ Response 201 (application/json)

            {
                "_link":"/assets/234566/thumbnails"
            }            

### Retrieve asset thumbnails[GET]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Response 200 (application/json)

            {
                "thumbnails": [
                    {
                        "id": 123456,
                        "caption": "thumbnail caption",
                        "thumb_path_prefix": "https://static.spark.autodesk.com/2015/nyc.jpg42111c3",
                        "description": "thumbnail description",
                        "is_primary": true
                    },
                    {
                        "id": 123457,
                        "thumb_path_prefix": "https://static.spark.autodesk.com/2015/nyc.jpg42111c3",
                        "caption": "thumbnail caption 2",
                        "description": "thumbnail description 2",
                        "is_primary": false
                    }
                ]
            }

### Delete an asset thumbnails[DELETE]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + thumbnail_ids (required,String, `234567,334562`)...Comma seperated list of assets thumbnails to be deleted from this asset.
+ Response 204
    

## Asset External Links [/assets/{id}/links{?links,link_ids}]
All references to external artifacts such as blog posts, videos, photos etc.

+ Parameters
    + id (required,Number,`234566`)...Numeric `id` of the asset to perform action with. 

### Create a new link within the asset [POST]

**_Note:_** A UUID is saved against the link if no id is passed inside the link JSON.

+ Request (application/x-www-form-urlencoded)
    + Headers

            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + links (required,JSON, `[{"type": "VIDEO","references": [{"id": "5423906829345","title": "title","description": "title","embedWidget": "<iframe width=\"854\" height=\"510\" src=\"//www.youtube.com/embed/wQ3nCa2_f88\" frameborder=\"0\"></iframe>"}]},{"type": "LINK","references": [{"id": "54239097944f1","title": "link","description": "title","url": "https://www.youtube.com/watch?v=wQ3nCa2_f88"}]}]`) ...JSON list of links along with their types. Valid types include: VIDEO, IMAGE, INSTRUCTABLES, LINK, AUDIO, OTHERS 
+ Response 201 (application/json)

            {
                "_link":"/assets/234566/links"
            }

### Retrieve asset links[GET]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Response 200 (application/json)

            {
                "links": [
                    {
                        "type": "VIDEO",
                        "references": [
                            {
                                "id": "5423906829345",
                                "title": "title",
                                "description": "title",
                                "embedWidget": "<iframe width=\"854\" height=\"510\" src=\"//www.youtube.com/embed/wQ3nCa2_f88\" frameborder=\"0\"></iframe>"
                            }
                        ]
                    },
                    {
                        "type": "LINK",
                        "references": [
                            {
                                "id": "54239097944f1",
                                "title": "link",
                                "description": "title",
                                "url": "https://www.youtube.com/watch?v=wQ3nCa2_f88"
                            }
                        ]
                    }
                ]
            }

### Delete an asset link [DELETE]

+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Parameters
    + link_ids (optional,String,`234566,142342FD65F`)...Comma separated list of link ids provided while creating the asset links.

+ Response 204

## Asset Translations [/assets/{id}/translations]
This api will be used by backend services to update translations for various uploaded files including source files, tranformation files etc. 

+ Parameters
    + id (required,Number,`234566`)...Numeric `id` of the asset to perform action with. 

### Create new translations within the asset [POST] 
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + translations (required,JSON, `[{"inputFileItemId": "5358536","outputFileItemId": "5358536","outputFileUrl": "","outputFileType": "","outputFileName": ""},{"inputFileItemId": "5358536","outputFileItemId": "5358536","outputFileUrl": "","outputFileType": "","outputFileName": ""}]`) ...JSON list of source file id along with translated file id and type of translation performed. 
+ Response 201 (application/json)

            {
                "_link":"/assets/234566/translations"
            }

### Retrieve translations [GET]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Response 200 (application/json)

            {
                "translations": [
                    {
                        "inputFileItemId": "5358536",
                        "outputFileItemId": "5358536",
                        "outputFileUrl": "https://s3.amazonaws.com/123d_online_file_cache_prod/MARKETPLACE/1206348/16448602/bolts",
                        "outputFileType": "BOLT"
                    },
                    {
                        "inputFileItemId": "5358536",
                        "outputFileItemId": "5358536",
                        "outputFileName": "shopping_cart.stl",
                        "outputFileType": "STL"
                    },
                    {
                        "inputFileItemId": "5358536",
                        "outputFileItemId": "5049748",
                        "outputFileType": "Viewable"
                    }
                ]
            }

### Update the translations [PUT]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + translations (required,JSON, `{[{"source":123422,"translation":3453434,"type":"STL}]}`) ...JSON list of source file id along with translated file id and type of translation performed. 
+ Response 200 (application/json)

### Delete an asset translation [DELETE]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + translations (required,String, `3453434,123422`)...Comma seperated list of translated file ids which should be removed.
+ Response 204 (application/json)

## Asset Permission Roles [/assets/{id}/roles]
These APIs can be used to provide necessary permissions to other members to work on the asset.<br>

**Roles**

There are 4 roles available for collaboration.

|_Role ID_|_Role Name_|_Description_
|----|----|----
|1|Owner|Asset Author - This member can add other members as Asset Admin, Writer or Reader.<br> **_Note:_** Admins can be added only by Asset Owner.
|2|Admin|Read/Write access on the asset. The member having this permission on the asset can also add other members as Asset Writer or Reader.
|3|Writer|Read/Write access on the asset.
|4|Reader|Read only access on the asset.

+ Parameters
    + id (required,Number,`234566`)...Numeric `id` of the asset to perform action with. 

### Create member permission on the asset [POST /assets/{id}/roles{?member_id,role_id}] 
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + member_id (required,Number,`234566`)...Id of the member to whom permissions has to be provided
    + role_id (required,Number,`2`)...Role of the member on the Asset.<br> Options:<br> 2 (Admin) <br> 3 (Writer) <br> 4 (Reader) <br>
    
+ Response 201 (application/json)

        {
            "_link":"/assets/234566/roles"
        }

### Retrieve asset member permission roles [GET]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Response 200 (application/json)

        {
            "members": [
                {
                    "member_id": 20708761,
                    "role_id": 2,
                    "role_name": "asset_admin",
                    "date_added": "September 14, 2015 16:16:51"
                },
                {
                    "member_id": 20709428,
                    "role_id": 3,
                    "role_name": "asset_writer",
                    "date_added": "September 14, 2015 16:17:02"
                },
                {
                    "member_id": 20708732,
                    "role_id": 4,
                    "role_name": "asset_reader",
                    "date_added": "September 14, 2015 16:17:13"
                },
                {
                    "member_id": 20706524,
                    "role_id": 2,
                    "role_name": "asset_admin",
                    "date_added": "September 14, 2015 16:17:25"
                }
            ]
        }

### Update asset member permission [PUT /assets/{id}/roles{?member_id,role_id}]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + member_id (required,Number,`234566`)...Id of the member to whom permissions has to be provided
    + role_id (required,Number,`2`)...Role of the member on the Asset.<br> Options:<br> 2 (Admin) <br> 3 (Writer) <br> 4 (Reader) <br>
    
+ Response 201 (application/json)
        
        {
            "_link":"/assets/234566/roles"
        }

### Delete asset member permission [DELETE /assets/{id}/roles{?member_id}]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + member_id (required,Number,`234566`)...Id of the member to whom permissions has to be provided

+ Response 204 (application/json)

## Asset Likes [/assets/{id}/likes{?limit,offset,sort_order,follow_order}]
This operation is basically a toggle - calling PUT operation repeteadly will set/unset like state for this member on this asset.

**_Pre-condition:_** Asset must be in published (public - 0) status. 

+ Parameters
    + id (required,Number,`234566`)...Numeric `id` of the asset to perform action with. 

### Retrieve total like count and list of favoriters[GET]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + limit (optional, Number,`20`)...Number of results to return in each page. Default: 20.
    + offset (optional, Number, `3`)...Current result offset number. Default: 0.
    + sort_order (optional, String, `asc, desc`)...Direction of ordered search results based on assets liked. Default: desc.
    + follow_order (optional, Boolean, `true, false`)...Direction of ordered results based on follower/following members and then the remaining. Default: false.
    

+ Response 200 (application/json)
    
        {
                "count":260,
                "limit":13,
                "offset":39,
                "_link":"/assets/234566/likes?limit=26",
                "_link_prev":"/assets/234566/likes?limit=26&offset=26",
                "_link_next":"/assets/234566/likes?limit=26&offset=39",
                "members":[
                    {
                    "member_id":123133,
                    "member_name":"creative artist 101",
                    "member_small_avatar":"http:\/\/dev.squidplatform.net\/images\/v22\/member\/default_avatar.png",
                    "_link":"/members/123133"
                    },
                    {
                    "member_id":123134,
                    "member_name":"creative artist 102",
                    "member_small_avatar":"http:\/\/dev.squidplatform.net\/images\/v22\/member\/default_avatar.png",
                    "_link":"/members/123134"
                    }
                ]

        }

### Update like state for a member [PUT]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Response 200 (application/json)

            {
                "count":52,
                "is_member_like":true,
                "_link":"/assets/234566/likes"
            }
    

## Asset Comments [/assets/{id}/comments{?comment,comment_id,in_reply_to,limit,offset,sort_order}]
Operations to manage comments on an asset

**_Pre-condition:_** Asset must be in published (public - 0) status.

+ Parameters
    + id (required,Number,`234566`)...Numeric `id` of the asset to perform action with. 

### Create new comment within an asset[POST] 
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + comment (required,String, `encoded comment text`) ...any 3rd party links in comments will be encoded, to reference external links use /assets/{id}/links apis 
    + in_reply_to (optional, String, `11323333`)...id of comment for which this comment is a reply
+ Response 201 (application/json)
    
           {
                "link":"/assets/234566/comments",
                "comment_id":"adaee1233"
            }

### Retrieve asset comments[GET]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + limit (optional, Number,`20`)...Number of results to return in each page. Default: 20.
    + offset (optional, Number, `3`)...This offsets the start of each page by the number specified. Default: 0.
    + sort_order (optional, String, `asc, desc`)...Direction of ordered search results based on comment added. Default: asc.

+ Response 200 (application/json)

            {
                "count": 260,
                "limit": 13,
                "offset": 39,
                "_link": "/assets/234566/comments?limit=26",
                "_link_prev": "/assets/234566/comments?limit=26&offset=26",
                "_link_next": "/assets/234566/comments?limit=26&offset=39",
                "comments": [
                    {
                        "member_id": 20288416,
                        "member_small_avatar": "https://dev.squidplatform.net/images/v22/member/default_avatar.png",
                        "member_name": "amol tulaskar",
                        "body": "api test reply comment to comment",
                        "comment_id": "cmdm35wh3y8vx42",
                        "timestamp": "April 09, 2011 07:27:54",
                        "in_reply_to": {
                            "member_id": 20288416,
                            "member_small_avatar": "https://dev.squidplatform.net/images/v22/member/default_avatar.png",
                            "member_name": "amol tulaskar",
                            "body": "api original comment",
                            "comment_id": "cmdm35wh3y8vx42",
                            "timestamp": "April 09, 2011 07:27:54"
                        }
                    }
                ]
            }
          

### Update a comment[PUT]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + comment (required,String, `encoded comment text`) ...any 3rd party links in comments will be encoded, to reference external links use /assets/{id}/links apis 
    + comment_id (required, String, `123aaddq33`)...id of comment to be updated
+ Response 200 (application/json)

            {
                "_link":"/assets/234566/comments"
            }
    

### Delete an asset comments[DELETE]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + comment_id (required,String, `123aaddq33`)...id of comment to be deleted from this asset.
+ Response 204

## Asset Comments level [/assets/{id}/comments-level{?num_replies,comment_id,depth,limit,offset,sort_order}]
Above comments API retuns comments in a flat structure with an “in_reply_to” field if there is a comment that is a reply to another comment. 
Now this API will return comments in comment thread. so if there are several replies to an existing comment, they will all be under that individual comment.

### Retrieve asset comments level[GET]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + num_replies (optional, Number,`3`)...Number of to top level comments. Default: 3.
    + depth (optional, Number,`1`)...Depth indicates how many nested comments I go into. Default: 1.
    + limit (optional, Number,`20`)...Number of results to return in each page. Default: 20.
    + offset (optional, Number, `3`)...This offsets the start of each page by the number specified. Default: 0.
    + sort_order (optional, String, `asc, desc`)...Direction of ordered search results based on comment added. Default: asc.

+ Response 200 (application/json)

        {
            "count": 4,
            "limit": 20,
            "offset": 0,
            "_link": "/assets/1065855/comments-level?limit=20&offset=0",
            "comments": [
                {
                    "body": "Comment 1.0",
                    "member_small_avatar": "http://static.spark.autodesk.com/Images/Member/default_avatar.png",
                    "comment_id": "C85VA4CIBSXP04I",
                    "member_name": "",
                    "member_id": 20707424,
                    "total_replies": 3,
                    "replies": [
                        {
                            "body": "Comment 1.1",
                            "member_small_avatar": "http://static.spark.autodesk.com/Images/Member/default_avatar.png",
                            "comment_id": "C1DIL49IBSXP04Y",
                            "member_name": "",
                            "member_id": 20707424,
                            "total_replies": 3,
                            "_link": "/assets/1065855/comments-level/C1DIL49IBSXP04Y?limit=20&offset=0",
                            "timestamp": "July 14, 2015 11:05:52"
                        },
                        {
                            "body": "Comment 1.2",
                            "member_small_avatar": "http://static.spark.autodesk.com/Images/Member/default_avatar.png",
                            "comment_id": "CWQ0KQ2IBSXP052",
                            "member_name": "",
                            "member_id": 20707424,
                            "total_replies": 2,
                            "_link": "/assets/1065855/comments-level/CWQ0KQ2IBSXP052?limit=20&offset=0",
                            "timestamp": "July 14, 2015 11:06:15"
                        },
                        {
                            "body": "Comment 1.3",
                            "member_small_avatar": "http://static.spark.autodesk.com/Images/Member/default_avatar.png",
                            "comment_id": "CVJSM85IBSXP056",
                            "member_name": "",
                            "member_id": 20707424,
                            "total_replies": 2,
                            "_link": "/assets/1065855/comments-level/CVJSM85IBSXP056?limit=20&offset=0",
                            "timestamp": "July 14, 2015 11:06:44"
                        }
                    ],
                    "_link": "/assets/1065855/comments-level/C85VA4CIBSXP04I?limit=20&offset=0",
                    "timestamp": "July 14, 2015 11:03:21"
                },
                {
                    "body": "Comment 2.0",
                    "member_small_avatar": "http://static.spark.autodesk.com/Images/Member/default_avatar.png",
                    "comment_id": "CT7FU6XIBSXP04M",
                    "member_name": "",
                    "member_id": 20707424,
                    "total_replies": 0,
                    "_link": "/assets/1065855/comments-level/CT7FU6XIBSXP04M?limit=20&offset=0",
                    "timestamp": "July 14, 2015 11:03:42"
                },
                {
                    "body": "Comment 3.0",
                    "member_small_avatar": "http://static.spark.autodesk.com/Images/Member/default_avatar.png",
                    "comment_id": "CHXBN9ZIBSXP04Q",
                    "member_name": "",
                    "member_id": 20707424,
                    "total_replies": 0,
                    "_link": "/assets/1065855/comments-level/CHXBN9ZIBSXP04Q?limit=20&offset=0",
                    "timestamp": "July 14, 2015 11:04:25"
                },
                {
                    "body": "Comment 4.0",
                    "member_small_avatar": "http://static.spark.autodesk.com/Images/Member/default_avatar.png",
                    "comment_id": "CBGZFNBIBSXP04U",
                    "member_name": "",
                    "member_id": 20707424,
                    "total_replies": 1,
                    "replies": [
                        {
                            "body": "Comment 4.1",
                            "member_small_avatar": "http://static.spark.autodesk.com/Images/Member/default_avatar.png",
                            "comment_id": "CDMX7VVIBSXP06A",
                            "member_name": "",
                            "member_id": 20707424,
                            "total_replies": 0,
                            "_link": "/assets/1065855/comments-level/CDMX7VVIBSXP06A?limit=20&offset=0",
                            "timestamp": "July 14, 2015 11:11:59"
                        }
                    ],
                    "_link": "/assets/1065855/comments-level/CBGZFNBIBSXP04U?limit=20&offset=0",
                    "timestamp": "July 14, 2015 11:04:41"
                }
            ]
        }

### Retrieve asset comments replies level[GET]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + comment_id (String,`C85VA4CIBSXP04I`)...retrieve replies for a given comment id. For example. /api/v2/assets/1065855/comments-level/C85VA4CIBSXP04I
    + num_replies (optional, Number,`3`)...Number of to top level comments. Default: 3.
    + depth (optional, Number,`1`)...Depth indicates how many nested comments I go into. Default: 1.
    + limit (optional, Number,`20`)...Number of results to return in each page. Default: 20.
    + offset (optional, Number, `3`)...This offsets the start of each page by the number specified. Default: 0.
    + sort_order (optional, String, `asc, desc`)...Direction of ordered search results based on comment added. Default: asc.

+ Response 200 (application/json)
    
        {
            "count": 1,
            "limit": 20,
            "offset": 0,
            "_link": "/assets/1065855/comments-level/c85va4cibsxp04i?limit=20&offset=0",
            "comments": [
                {
                    "body": "Comment 1.0",
                    "member_small_avatar": "http://static.spark.autodesk.com/Images/Member/default_avatar.png",
                    "comment_id": "C85VA4CIBSXP04I",
                    "member_name": "",
                    "member_id": 20707424,
                    "total_replies": 3,
                    "replies": [
                        {
                            "body": "Comment 1.1",
                            "member_small_avatar": "http://static.spark.autodesk.com/Images/Member/default_avatar.png",
                            "comment_id": "C1DIL49IBSXP04Y",
                            "member_name": "",
                            "member_id": 20707424,
                            "total_replies": 3,
                            "_link": "/assets/1065855/comments-level/C1DIL49IBSXP04Y?limit=20&offset=0",
                            "timestamp": "July 14, 2015 11:05:52"
                        },
                        {
                            "body": "Comment 1.2",
                            "member_small_avatar": "http://static.spark.autodesk.com/Images/Member/default_avatar.png",
                            "comment_id": "CWQ0KQ2IBSXP052",
                            "member_name": "",
                            "member_id": 20707424,
                            "total_replies": 2,
                            "_link": "/assets/1065855/comments-level/CWQ0KQ2IBSXP052?limit=20&offset=0",
                            "timestamp": "July 14, 2015 11:06:15"
                        },
                        {
                            "body": "Comment 1.3",
                            "member_small_avatar": "http://static.spark.autodesk.com/Images/Member/default_avatar.png",
                            "comment_id": "CVJSM85IBSXP056",
                            "member_name": "",
                            "member_id": 20707424,
                            "total_replies": 2,
                            "_link": "/assets/1065855/comments-level/CVJSM85IBSXP056?limit=20&offset=0",
                            "timestamp": "July 14, 2015 11:06:44"
                        }
                    ],
                    "_link": "/assets/1065855/comments-level/C85VA4CIBSXP04I?limit=20&offset=0",
                    "timestamp": "July 14, 2015 11:03:21"
                }
            ]
        }


## Asset Flag [/assets/{id}/flags{?reason,comment}]
Flag an asset along with reason for flagging. This operation is a no-op if an asset has already been flagged by this member.

**_Pre-condition:_** Asset must be in published (public - 0) status.

### Flag an asset [PUT]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Parameters
    + reason (optional, String, `INAPPROPRIATE`)...Options: INAPPROPRIATE, COPYRIGHT, QUALITY
    + comment (optional , String, `optional user comments`) ...additional user comments 
+ Response 204

## Asset Feature [/assets/{id}/feature{?feature_flag,software}]
Feature an asset. Sets featured status of an asset. Featuring adds the asset to featured list, while unfeaturing removes it from featured list.
This is admin only functionality, hence must be invoked with Community ADMIN rights.

**_Pre-condition:_** Asset must be in published (public - 0) status.

### Feature an asset [PUT]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Parameters
    + feature_flag (Required, Boolean, `true`)...Options: true/false
    + software (Required, Number, `31`)...Indicate the Application in which this asset has to be featured. 
+ Response 204

## Comment Flag [/assets/{id}/comments/{commentid}/flags{?type}]
Flag an comment along with reason for flagging. This will bring this comment to the attention of a site admin. If the user is in ADMIN role, the comment referenced will immediately be placed in QUARANTINE status for review by a site admin. 

### Flag an comment [PUT]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Parameters
    + id (required,Number,`234566`)...Numeric `id` of the asset to perform action with. 
    + type (required, String, `INAPPROPRIATE`)...Options: SPAM, INAPPROPRIATE, NOT_NICE
    + commentid (required,String, `123aaddq33`)...id of comment to be flagged from this asset.
+ Response 204

## Asset Status Posts [/assets/{id}/status{?status_post,limit,offset,status_post_id}]
Operations to manage status posts on an asset. Status posts are updates to the progress of an asset made by the author. e.g "Finished textures today".  

+ Parameters
    + id (required,Number,`234566`)...Numeric `id` of the asset to perform action with. 

### Create a new status post within an asset[POST] 
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + status_post (required,String, `encoded status post text`) ...any 3rd party links in status posts will be encoded, to reference external links use /assets/{id}/links apis 
    
+ Response 201 (application/json)
    
           {
                "status_post_id":"adaee1233",
                "_link":"/assets/234566/status?id=adaeee1233"
            }

### Retrieve asset status posts[GET]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + limit (optional, Number,`20`)...Number of results to return in each page
    + offset (optional, Number, `3`)...This offsets the start of each page by the number specified.

+ Response 200 (application/json)
    
        {
            "count":260,
            "limit":13,
            "offset":39,
            "_link":"/asset/234566/status?limit=26",
            "_link_prev":"/asset/234566/status?limit=26&offset=26",
            "_link_next":"/asset/234566/status?limit=26&offset=39",
            "status_posts":
            [
                {
                
                    "status_post_id" : 12345,
                    "body":"Updated textures",
                    "timestamp" : "April 09, 2011 07:27:54"
         
                }
            ]
        }
          

### Update a status post[PUT]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + status_post (required,String, `encoded comment text`) ...any 3rd party links in status posts will be encoded. To reference external links use /assets/{id}/links apis 
    + status_post_id (required, String, `123aaddq33`)...id of status post to be updated
+ Response 200 (application/json)

            {
                "status_posts":{
                    "count":52,
                    "_link":"/asset/234566/status"
                }
            }
    

### Delete an asset status post[DELETE]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
+ Parameters
    + status_post_id (required,String, `234567,334562`)...Comma seperated list of status posts to be deleted from this asset.
+ Response 204

# Group Files
Files are "second class" citizens in the Cloud Services ecosystem. As explained in the Assets api introduction: Within the 3d modeling/printing eco-system it is often hard to model a complete creation and workflow with a single file. Hence a file by itself has little meaning without the context of the asset it belongs to. 
Of course in order to add a file to an asset, it must be uploaded first. The api operations below provide various ways of uploading a file and recieving a file id which can then be used to associate file with an asset. 

## Upload Server [/server/upload]
The API to get the upload server for uploading the files
### Upload server [GET]
+ Request (application/x-www-form-urlencoded)

+ Response 200

        {
            "server": "storagealpha.squidplatform.com"
        }

## Upload File [/files/upload{?unzip,fileurl,filename,public,software}]
If the file is sent as a application/gzip and unzip parameter is = true, it will be unzipped and id will be returned for each constituent file within the zip. 
In case of gzipped files, file name extension will be utilized to determine the file type (e.g. stl or obj). 
In case of base64 encoded files, file name extension will be utilized to determine file type (e.g stl or obj).

+ Parameters
    + unzip (optional,String, `false`)...Indicate if the zip file should be unzipped and each constituent files be treated as an individual file. Default is false.
    + fileurl (optional,String, `http://xxxxxx.com/file`)...URL of the file from where the file need to be retrived.(only works when filename parameteris passed alongwith)
    + filename (optional,String, `filename.jpg`)...name of the downloaded file from fileurl. <br/> **_Note:_** filename param is effective only if the file is uploaded using fileurl param
    + public (optional,String, `false`)...Indicate if the file should have URL which can be accessed without restrictions. Default is false.
    + software (optional,Number, `31`)...Indicate the Application used to upload file. 

### Upload files [POST]

**_Steps:_**

1. Please call <a href="http://docs.acgcs.apiary.io/#reference/files/upload-server/upload-server">GET Upload Server API</a> to retrieve the server.
2. Use the server as the host in the POST Upload File API above.

+ Request
    + Header
            
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57
            Content-type: multipart/form-data; boundary="---abc123"
                
    + Body
    
            ---abc123
            Content-Disposition: form-data; name="aceb"; filename="data.aceb"
            Content-Type: application/octet-stream
            ... file data here ...
            ---abc123
            Content-Disposition: form-data; name="dome"; filename="model.gzip"
            Content-Type: application/gzip
            ... file data here ...
            ---abc123
            Content-Disposition: form-data; name="acmo"; filename="outputs.csv"
            Content-Type: base64
            ... file data here ...
            ---abc123

+ Response 200

        {
            "files": [
                {
                    "name": "data.aceb",
                    "file_id": "123334",
                    "md5sum": "2354wfwsdf23r4efw",
                    "public_url": "http://server/path/123334"
                },
                {
                    "name": "model.gzip.carmodel.obj",
                    "file_id": "123335",
                    "md5sum": "2354wfwsdf23r4efw",
                    "public_url": "http://server/path/123334"
                },
                {
                    "name": "model.gzip.carmodel.mtl",
                    "file_id": "123336",
                    "md5sum": "2354wfwsdf23r4efw",
                    "public_url": "http://server/path/123334"
                },
                {
                    "name": "outputs.csv",
                    "file_id": "123337",
                    "md5sum": "2354wfwsdf23r4efw",
                    "public_url": "http://server/path/123334"
                }
            ]
        }
            
## Download Server [/server/download]
The API to get the download server for uploading the files
### Download server [GET]
+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Response 200

            {
                "server": "storagealpha.squidplatform.com"
            }            

## Download File [/files/download{?file_ids,asset_id,ts,hash}]
Download a specific file or set of files. 

In instances where affiliates need to download files without a logged in user (e.g., to download files on behalf of the user).Folow the the steps mentioned below.

_Building the Request:_
* Use Guest session when calling the the API.
* Pass parameter "ts", which is Timestamp, Format is 'YYYY-MM-DD HH:mm:ss'.  Must be converted to GMT (no offset).  Must be within 15 minutes of the server's timestamp when call is made 
* Pass Parameter "hash", which is generated via SHA-256 hash function of the affiliate code + asset ID + timestamp + shared secret.

+ Parameters
    + file_ids (required, String, `1233233,1333233`) ...Comma seperated list of file ids. If more than one file is specified, the download will be a zip
    + asset_id (optional, String, `23244422`)... Asset id
    + ts (optional,string, `2012-01-26 15:51:44`)... timestamp in format 'YYYY-MM-DD HH:mm:ss'. to be used when app is downloading on behalf of a user
    + hash (optional,String, `942F52D6AECAA46993D8839639CE56FFEF1FFB7F92AC376647A6`)... to be used when app is downloading on behalf of a user 

### Download files [GET]

**_Steps:_**

1. Please call <a href="http://docs.acgcs.apiary.io/#reference/files/download-server/upload-server">GET Download Server API</a> to retrieve the server.
2. Use the server as the host in the GET Download File API above.

+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Response 200

## Download File Path [/files/download/path{?file_ids,asset_id}]
Retrieve direct download path to a specific file or a set of files. 
This is a more efficient way to download large files (Eg: files greater than 50MB) since it returns the direct download path to the file as against streaming it via the server.

+ Parameters
    + file_ids (required,String `1233233,1333233`) ...Comma seperated list of file ids. If more than one file is specified, the download file will be a zip file.
    + asset_id (optional, String `23244422`)... Asset id

### Download files path [GET]

**_Steps:_**

1. Please call <a href="http://docs.acgcs.apiary.io/#reference/files/download-server/upload-server">GET Download Server API</a> to retrieve the server.
2. Use the server as the host in the GET Download File Path API above.

+ Request (application/x-www-form-urlencoded)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Response 200 (application/json)

        {
            "download_url": "http://s3.amazonaws.com/files?signatures=25kbj234jkh234h",
            "validity": 300
        }

## File Access [/filesystem/publicurl{?file_ids}]
APIs to make files available using public url.

### Make file public [POST]
API to make private files to public files

+ Request (application/x-www-form-urlencoded)
    + Headers

            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Parameters
    + file_ids (required, String, `1234,5678`)...Comma separated list of file ids

+ Response 200 (application/json)

        {
            "files": [
                {
                    "file_id": 16812136,
                    "md5sum": "751f4a84fd44e7e411747588d20b33ee",
                    "size": 326560,
                    "public_url": "http://sherpapreview-standard.s3-website-us-east-1.amazonaws.com/Preview/Public/Alpha/16812136"
                },
                {
                    "file_id": 16812137,
                    "md5sum": "751f4a84fd44e7e411747588d20b33ee",
                    "size": 326560,
                    "public_url": "http://sherpapreview-standard.s3-website-us-east-1.amazonaws.com/Preview/Public/Alpha/16812137"
                }
            ]
        }
    
### Retrieve file public url [GET]    
API to retrieve the file public url.

**_Note:_** The files must be made public using the POST before retrieving their public url.

+ Request (application/x-www-form-urlencoded)
    + Headers

            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Parameters
    + file_ids (required, String, `1234,5678`)...Comma separated list of file ids

+ Response 200 (application/json)

        {
            "files": [
                {
                    "file_id": 16812136,
                    "md5sum": "751f4a84fd44e7e411747588d20b33ee",
                    "public_url": "http://sherpapreview-standard.s3-website-us-east-1.amazonaws.com/Preview/Public/Alpha/16812136"
                },
                {
                    "file_id": 16812137,
                    "md5sum": "751f4a84fd44e7e411747588d20b33ee",
                    "public_url": "http://sherpapreview-standard.s3-website-us-east-1.amazonaws.com/Preview/Public/Alpha/16812137"
                }
            ]
        }

### Delete public file [DELETE]    
API to delete public files.

+ Request (application/x-www-form-urlencoded)
    + Headers

            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Parameters
    + file_ids (required, String, `1234,5678`)...Comma separated list of file ids

+ Response 204 (application/json)

## File Details [/filesystem/{file_id}]

### Get File details [GET]

**_Note:_** The public url of the file is returned only if the file is made public.

+ Request (application/x-www-form-urlencoded)
    + Headers

            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

+ Parameters
    + file_id (required, Number, `1234`)...File Id

+ Response 200 (application/json)

        {
            "file_id": 16812136,
            "md5sum": "751f4a84fd44e7e411747588d20b33ee",
            "size": 1361408,
            "name": "viewable.stl",
            "public_url": "http://sherpapreview-standard.s3-website-us-east-1.amazonaws.com/Preview/Public/Alpha/16812136"
        }

# Group Marketplace
This group of operations provides information on the marketplace APIS such as shipping options, inventory checking, placing order, updating order etc.

## Order [/marketplace/updateorder/{order_number}{?JSON_String}]
### Update an order status [POST]
+ Parameters
    + order_number (required,String, `b9a26297-38d2-4091-8882-620122bf0374`)...Vendor order reference number
    + JSON_String (required,String,`json string`)...You have to pass actual JSON string and set header to (application/JSON) in addition to default headers for cloud service API.
    <br><br>status_skus is optional. If not mentioned all skus inside this order will have complete status otherwise status will set on each sku. If you are updaing entire order then only on email will be send an dif you update sku then mail will be send for group of skus.
<br><br><div class="parameterKey">JSON_String to set status to FAILED</div>
<br>{"status":"FAILED","error_code":"B56GHSGFT","error_message":"We can not fulfil your order as items are out of stock.","status_skus":[{"sku":"1503327"}]}
<br><br>If current status is COMPLETE | CLOSED | DECLINE | CANCELED then you can not set FAILED status.(ErrorCode : 34750 : Order status can not be modified.)
<br><br><div class="parameterKey">JSON_String to set status to COMPLETE</div>
<br><br>{"status":"COMPLETE","shipping":{"shipper":"UPS","tracking_url":"http://www.fedex.com?mic=shsjknbsg7262gs" ,"tracking_number":"MKAHS6724FHAHAJG6"},"completion_date":"2015-07-17 14:30:00","status_skus":[{"sku":"12345"},{"sku":"34567"}]}
<br><br>The tracking_url is optional in the shipping payload.
<br><br>If current status is CLOSED | DECLINE | CANCELED then you can not set COMPLETE status.(ErrorCode : 34750 : Order status can not be modified.)
<br><br><div class="parameterKey">JSON_String to set status to CANCELED</div>
<br><div class="parameterKey">-----It is not allowed that refund status is false. Refund is required when an order is canceled.</div>
<br><div class="parameterKey">-----If refund status is true then you have to pass refund reason and should remove access.</div>
<br>{"status":"CANCELED","cancellation_reason":"fake","cancellation_date":"2015-06-08 00:00:00","refund":"true","refund_reason":"I am going to refund","remove_access":"false"}
<br>{"status":"CANCELED","cancellation_reason":"fake","cancellation_date":"2015-06-08 00:00:00","refund":"true","status_skus":[{"sku":1503327,"refund_reason":"nothing to mentione","remove_access":"false"}]}
<br><br>If current status is COMPLETE | CLOSED | DECLINE | CANCELED then you can not set CANCELED status.(ErrorCode : 34750 : Order status can not be modified.)
<br><br><div class="parameterKey">JSON_String to set status to IN_PROGRESS | ON_HOLD | CLOSED | DECLINE</div>
<br>{"status":"IN_PROGRESS","status_skus":[{"sku":"1503327"}]}
<br><br>If current status is COMPLETE | CLOSED | DECLINE | CANCELED then you can not set IN_PROGRESS status.(ErrorCode : 34750 : Order status can not be modified.)
<br><br>If current status is COMPLETE | CLOSED | DECLINE | CANCELED | FAILED then you can not set ON_HOLD status.(ErrorCode : 34750 : Order status can not be modified.)
<br><br>If current status is COMPLETE then you can not set CLOSED status.(ErrorCode : 34750 : Order status can not be modified.)
<br><br>If current status is COMPLETE | CLOSED | DECLINE | CANCELED | FAILED then you can not set DECLINE status.(ErrorCode : 34750 : Order status can not be modified.)
<br><br>Errors
<br>Code : 34024  : Empty or invalid payload sent for updating order.
<br>Code : 34750  : Order status can not be modified.
<br>
+ Request (application/json)
    + Headers

            X-AFC: TC1ONA
            X-SECURE-SESSION: BD715D557FE163EA68A3427DD4320942
            X-SESSION: 6015771E-DD4E-421B-8EFA-2EA2B0761C8B

+ Response 200 (application/json)

#Group Members
This group of operations provides information on the member. A member is a user who signs up or logs into Cloud Services eco-system.

#Member [/members/{id}{?name,email,first_name,last_name,description,location,facebook,twitter,personal,locale,locale_language,locale_country,avatar,company,company_website,industry,address1,address2,city,state,postal_code,country_code,phone_home,phone_mobile,phone_work,phone_work_extension,newsletters,subscribe,preferences}]
Manage public information about a member. To update a member secure session is required for following fields: 
name, email, locale and avatar.  For some parameters, if you provide no value for a parameter, the current value will be erased (see table below). 

+ Parameters
    + id (required,Number, `20280723`)...Member id

### Retrieve a member [GET]
+ Request (application/x-www-form-urlencoded)

+ Response 200 (application/json)
    + Headers
    
            X-AFC: FJKB32
            X-Session: F56FFEEF-8035-4F7E-90A3-066C5897AD57

    + Body

            {
               "member":{  
                  "type_id": 0,
                  "id": 20280723,   
                  "newsletters": {
                      "newsletter": [
                        {
                          "frequency": "",
                          "name": "Autodesk 123D Newsletter",
                          "id": 1,
                          "subscribed": 0
                        },
                        {
                          "frequency": "",
                          "name": "Autodesk 123D Artist Newsletter",
                          "id": 2,
                          "subscribed": 0
                        },
                        {
                          "frequency": 3,
                          "name": "Notifications",
                          "id": 3,
                          "subscribed": 1
                        },
                        {
                          "frequency": "",
                          "name": "General Spark Updates and Insights",
                          "id": 4,
                          "subscribed": 0
                        },
                        {
                          "frequency": "",
                          "name": "Spark Developer Updates and Insights",
                          "id": 5,
                          "subscribed": 0
                        },
                        {
                          "frequency": "",
                          "name": "Ember 3D Printer Updates and Insights",
                          "id": 6,
                          "subscribed": 0
                        }
                      ]
                    },
                    "profile": {
                     "location":"usa",
                     "description":"i am great!",
                     "company": "ABC Co., Inc.",
                     "address": {
                         "address1": "address1-55",
                         "address2": "address2-55",
                         "city": "city55",
                         "state": "MA",
                         "postal_code": "90255",
                         "country_code": "SJ"
                     },
                     "industry": "Engineering Services Providers",
                     "avatar_path":"http://static.spark.autodesk.com/Images/Member/default_avatar.png",
[...]
